header {
    background-image: url("../../images/custom/demo_bulldozer_onepage_head.jpg");
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 12em 0em; 
}

header h1, header h1 small {
    color: white; 
}

section {
    padding: 5em 0em; 
}

#techSpecs {
    background: #009db0; 
    border-bottom: 1px solid #cccccc; 
}

#techSpecs h1, #techSpecs h1 small,
#techSpecs p {
    color: #ffffff; 
}

#techSpecs .row-images {
    margin-top: 2em; 
}

#techSpecs img {
    display: inline; 
}

#motorSpecs {
    background: #009db0; 
}

#motorSpecs .row-images {
    margin-top: 2em; 
}

#motorSpecs h1, #motorSpecs h1 small,
#motorSpecs p {
    color: #ffffff; 
}