body {
    font-family: "Lato", "Arial"; 
}

header {
    color: white; 
    background-image: url("../images/header.jpg");
    background-position: center center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding: 15em 2em; 
}

section {
    padding: 15em 2em; 
}

#one {
    background-color: #ff0000; 
}

#two {
    background-color: #00ff00; 
}