body {
    font-family: "Montserrat", "Arial"; 
}

header {
    color: white; 
    background-color: #dc143c; 
    padding: 5em 0px; 
}

main {
    padding: 3em 0px; 
}

section {
    margin: 1em 0em; 
}

.sectionHeader {
    padding: 1em 0em; 
}

.sectionBody {
    
}

#currentProyects .header {
    margin-bottom: 2em; 
}

#currentProyects .sectionBody a, #oldProyects .sectionBody a {
   width: 100%; 
   text-decoration: none; 
}

.currentProyect {
    color: white; 
    height: 100px; 
    background-position: center; 
    background-size: cover; 
    padding: 2em 1em; 
    transition: opacity 0.1s linear 0s; 
}

.currentProyect:hover {
    opacity: 0.7; 
}

.currentProyect h2 {
    text-shadow: 2px 2px 5px black; 
}

#codelco {
    background-image: url("../images/demo_bulldozer_onepage_head.jpg"); 
}

#learningCapital {
    background-image: url("../images/lc_background.png"); 
}

#comingSoon {
    background-color: #dc143c; 
}

footer {
    color: white; 
    background-color: #dc143c; 
    padding: 5em 0px; 
}



